docs/n8n_templates/template-agenda-google-espacos-livres.json
{
  "name": "RS Connect — Google Agenda — Espaços livres",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rsconnect-agenda-google-espacos-livres",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ],
      "id": "8c3b1093-42f7-47f4-9f44-51e9ebe75deb",
      "name": "Webhook — espaços livres",
      "webhookId": "5c18ae69-e1d8-4db6-83bd-0c495eda34fc"
    },
    {
      "parameters": {
        "jsCode": "const envelope = $json.body ?? $json;\nconst payload = envelope.payload ?? envelope;\nconst search = payload.search ?? {};\nconst callback = payload.callback ?? envelope.callback ?? {};\nconst preference = payload.preference ?? {};\n\nfunction text(value, fallback = '') {\n  if (value === null || value === undefined) return fallback;\n  return String(value).trim();\n}\n\nfunction integer(value, fallback, min = 0, max = 99999) {\n  const parsed = Number.parseInt(value, 10);\n  if (!Number.isFinite(parsed)) return fallback;\n  return Math.max(min, Math.min(max, parsed));\n}\n\nfunction boolean(value, fallback = false) {\n  if (value === true || value === false) return value;\n  const normalized = text(value).toLowerCase();\n  if (['1', 'true', 'sim', 'yes', 'on'].includes(normalized)) return true;\n  if (['0', 'false', 'nao', 'não', 'no', 'off'].includes(normalized)) return false;\n  return fallback;\n}\n\nfunction normalizedOffset(value) {\n  const offset = text(value, '-03:00');\n  return /^[+-]\\d{2}:\\d{2}$/.test(offset) ? offset : '-03:00';\n}\n\nfunction toIso(value, offset) {\n  const source = text(value);\n  if (!source) return '';\n  if (/Z$|[+-]\\d{2}:\\d{2}$/.test(source)) return new Date(source).toISOString();\n  const normalized = source.replace(' ', 'T').replace(/\\.\\d+$/, '');\n  return new Date(`${normalized}${offset}`).toISOString();\n}\n\nconst utcOffset = normalizedOffset(search.utc_offset || payload.google_utc_offset || '-03:00');\nconst startAt = text(search.start_at || payload.search_start_at);\nconst endAt = text(search.end_at || payload.search_end_at);\nconst windowStartIso = toIso(startAt, utcOffset);\nconst windowEndIso = toIso(endAt, utcOffset);\nif (!windowStartIso || !windowEndIso || new Date(windowStartIso) >= new Date(windowEndIso)) {\n  throw new Error('A janela de busca recebida é inválida.');\n}\n\nconst calendarId = text(search.calendar_id || payload.calendar_id, 'primary');\nconst encodedCalendar = encodeURIComponent(calendarId);\nconst googleListUrl = `https://www.googleapis.com/calendar/v3/calendars/${encodedCalendar}/events?singleEvents=true&orderBy=startTime&showDeleted=false&maxResults=2500&timeMin=${encodeURIComponent(windowStartIso)}&timeMax=${encodeURIComponent(windowEndIso)}`;\nconst workdays = Array.isArray(search.workdays) ? search.workdays.map(Number).filter(day => Number.isInteger(day) && day >= 0 && day <= 6) : [1, 2, 3, 4, 5];\n\nreturn [{\n  json: {\n    tenant_id: Number(payload.tenant_id || envelope.tenant_id || 0),\n    appointment_id: payload.appointment_id ? Number(payload.appointment_id) : null,\n    conversation_id: payload.conversation_id ? Number(payload.conversation_id) : null,\n    contact_id: payload.contact_id ? Number(payload.contact_id) : null,\n    request_id: Number(payload.request_id || 0),\n    request_token: text(payload.request_token || callback.token),\n    callback_url: text(callback.url, 'https://rsconnect.rsautomacaodigital.cloud/webhooks/calendar/availability'),\n    availability_mode: 'free_slots',\n    calendar_id: calendarId,\n    google_list_url: googleListUrl,\n    timezone: text(search.timezone, 'America/Sao_Paulo'),\n    utc_offset: utcOffset,\n    search_start_at: startAt,\n    search_end_at: endAt,\n    window_start_iso: windowStartIso,\n    window_end_iso: windowEndIso,\n    working_start: text(search.working_start, '08:00'),\n    working_end: text(search.working_end, '18:00'),\n    workdays: workdays.length ? workdays : [1, 2, 3, 4, 5],\n    duration_minutes: integer(search.duration_minutes, 50, 5, 720),\n    slot_interval_minutes: integer(search.slot_interval_minutes, 30, 5, 720),\n    buffer_minutes: integer(search.buffer_minutes, 0, 0, 720),\n    min_notice_minutes: integer(search.min_notice_hours, 0, 0, 720) * 60,\n    max_suggestions: integer(search.max_suggestions, 5, 1, 200),\n    ignore_transparent_events: boolean(search.ignore_transparent_events, true),\n    preferred_start_at: text(preference.starts_at || payload.appointment?.starts_at),\n    original: envelope\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ],
      "id": "a9325b38-91ca-41b9-a524-afa10546fd83",
      "name": "Normalizar pedido"
    },
    {
      "parameters": {
        "url": "={{ $('Normalizar pedido').first().json.google_list_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        0
      ],
      "id": "063f162e-885a-4940-82dd-7748ea6e5bdb",
      "name": "Google — listar compromissos"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Normalizar pedido').first().json;\nconst response = $json ?? {};\nconst events = Array.isArray(response.items) ? response.items : [];\n\nfunction offsetMinutes(offset) {\n  const sign = offset.startsWith('-') ? -1 : 1;\n  const [hours, minutes] = offset.slice(1).split(':').map(Number);\n  return sign * ((hours || 0) * 60 + (minutes || 0));\n}\n\nconst offset = offsetMinutes(cfg.utc_offset);\n\nfunction localSql(date) {\n  const shifted = new Date(date.getTime() + offset * 60000);\n  return shifted.toISOString().slice(0, 19).replace('T', ' ');\n}\n\nfunction localLabel(date) {\n  const shifted = new Date(date.getTime() + offset * 60000);\n  const iso = shifted.toISOString();\n  return `${iso.slice(8, 10)}/${iso.slice(5, 7)}/${iso.slice(0, 4)} ${iso.slice(11, 16)}`;\n}\n\nfunction localDateKey(date) {\n  const shifted = new Date(date.getTime() + offset * 60000);\n  return shifted.toISOString().slice(0, 10);\n}\n\nfunction localDateTime(dateKey, time) {\n  return new Date(`${dateKey}T${time}:00${cfg.utc_offset}`);\n}\n\nfunction eventDate(value, allDayEnd = false) {\n  if (!value) return null;\n  if (value.dateTime) return new Date(value.dateTime);\n  if (value.date) return new Date(`${value.date}T00:00:00${cfg.utc_offset}`);\n  return null;\n}\n\nfunction overlaps(startA, endA, startB, endB) {\n  return startA < endB && startB < endA;\n}\n\nconst globalStart = new Date(cfg.window_start_iso);\nconst globalEnd = new Date(cfg.window_end_iso);\nconst earliestAllowed = new Date(Date.now() + cfg.min_notice_minutes * 60000);\nconst bufferMs = cfg.buffer_minutes * 60000;\n\nconst busy = events\n  .filter(event => {\n    if (!event || String(event.status || '').toLowerCase() === 'cancelled') return false;\n    if (cfg.ignore_transparent_events && String(event.transparency || 'opaque').toLowerCase() === 'transparent') return false;\n    return true;\n  })\n  .map(event => {\n    const start = eventDate(event.start);\n    const end = eventDate(event.end, true);\n    return start && end ? {\n      start: new Date(start.getTime() - bufferMs),\n      end: new Date(end.getTime() + bufferMs),\n      id: event.id || null,\n      summary: event.summary || ''\n    } : null;\n  })\n  .filter(Boolean);\n\nconst firstDate = localDateKey(globalStart);\nconst lastDate = localDateKey(new Date(globalEnd.getTime() - 1));\nconst dayCursor = new Date(`${firstDate}T00:00:00Z`);\nconst finalDay = new Date(`${lastDate}T00:00:00Z`);\nconst candidates = [];\n\nfor (let day = new Date(dayCursor); day <= finalDay; day = new Date(day.getTime() + 86400000)) {\n  const dateKey = day.toISOString().slice(0, 10);\n  const weekday = day.getUTCDay();\n  if (!cfg.workdays.includes(weekday)) continue;\n\n  const businessStart = localDateTime(dateKey, cfg.working_start);\n  const businessEnd = localDateTime(dateKey, cfg.working_end);\n  if (Number.isNaN(businessStart.getTime()) || Number.isNaN(businessEnd.getTime()) || businessStart >= businessEnd) continue;\n\n  for (let slotStart = new Date(businessStart); slotStart < businessEnd; slotStart = new Date(slotStart.getTime() + cfg.slot_interval_minutes * 60000)) {\n    const slotEnd = new Date(slotStart.getTime() + cfg.duration_minutes * 60000);\n    if (slotEnd > businessEnd || slotStart < globalStart || slotEnd > globalEnd || slotStart < earliestAllowed) continue;\n    if (busy.some(event => overlaps(slotStart, slotEnd, event.start, event.end))) continue;\n\n    candidates.push({\n      startDate: slotStart,\n      endDate: slotEnd,\n      start: localSql(slotStart),\n      end: localSql(slotEnd),\n      label: localLabel(slotStart),\n      modality: 'indefinida',\n      google_event_id: null,\n      google_calendar_id: cfg.calendar_id,\n      source: 'google_free_slots'\n    });\n  }\n}\n\nlet preferred = null;\nif (cfg.preferred_start_at) {\n  const value = /Z$|[+-]\\d{2}:\\d{2}$/.test(cfg.preferred_start_at)\n    ? cfg.preferred_start_at\n    : `${cfg.preferred_start_at.replace(' ', 'T')}${cfg.utc_offset}`;\n  const parsed = new Date(value);\n  if (!Number.isNaN(parsed.getTime())) preferred = parsed;\n}\n\ncandidates.sort((a, b) => {\n  if (preferred) {\n    const distanceA = Math.abs(a.startDate.getTime() - preferred.getTime());\n    const distanceB = Math.abs(b.startDate.getTime() - preferred.getTime());\n    if (distanceA !== distanceB) return distanceA - distanceB;\n  }\n  return a.startDate - b.startDate;\n});\n\nconst slots = candidates.slice(0, cfg.max_suggestions).map(({ startDate, endDate, ...slot }) => slot);\nconst callbackPayload = {\n  event: 'calendar.availability.result',\n  ok: true,\n  tenant_id: cfg.tenant_id,\n  appointment_id: cfg.appointment_id,\n  request_id: cfg.request_id,\n  request_token: cfg.request_token,\n  source: 'google_free_slots',\n  google_calendar_id: cfg.calendar_id,\n  slots,\n  meta: {\n    events_read: events.length,\n    occupied_events_considered: busy.length,\n    transparent_events_ignored: cfg.ignore_transparent_events,\n    duration_minutes: cfg.duration_minutes,\n    slot_interval_minutes: cfg.slot_interval_minutes,\n    buffer_minutes: cfg.buffer_minutes\n  }\n};\n\nreturn [{ json: { ...cfg, slots, callback_payload: callbackPayload } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "3e71d9e0-4f05-4ff4-82f9-02cb61b5664f",
      "name": "Calcular espaços livres"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalizar pedido').first().json.callback_url + (String($('Normalizar pedido').first().json.callback_url).includes('?') ? '&' : '?') + 'token=' + encodeURIComponent($('Normalizar pedido').first().json.request_token) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-RS-Calendar-Token",
              "value": "={{ $('Normalizar pedido').first().json.request_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.callback_payload }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "6ec32163-c01a-4f93-871a-f53d6646278b",
      "name": "Callback — RS Connect"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Espaços livres consultados no Google Agenda.', source: 'google_free_slots', slots: $('Calcular espaços livres').first().json.slots.length } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "80e0c50b-478e-47fd-b4d4-08900be6f5f1",
      "name": "Responder ao RS Connect"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — espaços livres": {
      "main": [
        [
          {
            "node": "Normalizar pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar pedido": {
      "main": [
        [
          {
            "node": "Google — listar compromissos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google — listar compromissos": {
      "main": [
        [
          {
            "node": "Calcular espaços livres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular espaços livres": {
      "main": [
        [
          {
            "node": "Callback — RS Connect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback — RS Connect": {
      "main": [
        [
          {
            "node": "Responder ao RS Connect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "d9afcf92-b74e-48fc-b56a-8ab471731a13",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
