docs/n8n_templates/template-agenda-disponibilidade.json
{
  "name": "RS Connect - Agenda inteligente disponibilidade",
  "nodes": [
    {
      "parameters": {
        "path": "rsconnect-agenda-disponibilidade",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookRSConnectDisponibilidade",
      "name": "Webhook RS Connect",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 260]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst payload = body.payload || body;\nconst search = payload.search || {};\nconst callback = payload.callback || body.callback || {};\nreturn [{\n  json: {\n    tenant_id: payload.tenant_id || body.tenant_id,\n    appointment_id: payload.appointment_id || payload.appointment?.id,\n    request_id: payload.request_id || body.request_id || null,\n    request_token: payload.request_token || callback.token || body.request_token || '',\n    callback_url: callback.url || 'https://rsconnect.rsautomacaodigital.cloud/webhooks/calendar/availability',\n    search_start_at: search.start_at,\n    search_end_at: search.end_at,\n    duration_minutes: search.duration_minutes || 50,\n    timezone: search.timezone || 'America/Sao_Paulo',\n    max_suggestions: search.max_suggestions || 5,\n    appointment: payload.appointment || {},\n    original: body\n  }\n}];"
      },
      "id": "NormalizarPedido",
      "name": "Normalizar pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 260]
    },
    {
      "parameters": {
        "jsCode": "// Substitua este nó pela consulta real no Google Calendar / agenda externa.\n// Ele gera horários de exemplo dentro da janela recebida para validar o fluxo.\nconst start = new Date($json.search_start_at || Date.now());\nconst duration = Number($json.duration_minutes || 50);\nconst max = Number($json.max_suggestions || 5);\nconst slots = [];\nlet cursor = new Date(start);\ncursor.setHours(9, 0, 0, 0);\nfor (let i = 0; i < max; i++) {\n  const s = new Date(cursor);\n  s.setDate(s.getDate() + i);\n  const e = new Date(s.getTime() + duration * 60000);\n  slots.push({\n    start: s.toISOString(),\n    end: e.toISOString(),\n    label: s.toLocaleString('pt-BR', { timeZone: $json.timezone || 'America/Sao_Paulo' })\n  });\n}\nreturn [{ json: { ...$json, slots } }];"
      },
      "id": "BuscarHorariosLivres",
      "name": "Buscar horários livres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 260]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    request_id: $json.request_id,\n    request_token: $json.request_token,\n    appointment_id: $json.appointment_id,\n    source: 'n8n_google_calendar',\n    slots: $json.slots || []\n  }\n}];"
      },
      "id": "MontarCallback",
      "name": "Montar callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalizar pedido').first().json.callback_url + '?token=' + $('Normalizar pedido').first().json.request_token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "CallbackRSConnect",
      "name": "Callback RS Connect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Consulta de disponibilidade processada.', slots: $('Montar callback').first().json.slots.length } }}",
        "options": {}
      },
      "id": "ResponderRSConnect",
      "name": "Responder RS Connect",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 260]
    }
  ],
  "connections": {
    "Webhook RS Connect": { "main": [[{ "node": "Normalizar pedido", "type": "main", "index": 0 }]] },
    "Normalizar pedido": { "main": [[{ "node": "Buscar horários livres", "type": "main", "index": 0 }]] },
    "Buscar horários livres": { "main": [[{ "node": "Montar callback", "type": "main", "index": 0 }]] },
    "Montar callback": { "main": [[{ "node": "Callback RS Connect", "type": "main", "index": 0 }]] },
    "Callback RS Connect": { "main": [[{ "node": "Responder RS Connect", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
