docs/n8n_templates/template-backup-rsconnect.json
{
  "name": "RS Connect - Backup operacional confiável v36.6.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "schedule-dispatch-backups",
      "name": "Verificar rotinas a cada 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -820,
        -260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RS_CONNECT_BACKUP_DISPATCH_URL || 'https://rsconnect.rsautomacaodigital.cloud/webhooks/operations/backups/dispatch' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RS-Connect-Token",
              "value": "={{ $env.RS_CONNECT_BACKUP_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "dispatch-due-routines",
      "name": "Solicitar rotinas vencidas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        -260
      ],
      "notesInFlow": true,
      "notes": "O agendamento apenas pergunta ao RS Connect quais rotinas estão vencidas. O horário configurado no painel continua sendo a fonte de verdade."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rsconnect-backup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-backup-request",
      "name": "Webhook RS Connect",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        40
      ],
      "webhookId": "d5bada99-22e0-475f-b8c9-e5394c1d94c8"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body || $json || {};\nconst headers = $json.headers || {};\nconst event = String(raw.event || 'operations.backup.requested');\nconst expectedWebhookToken = String($env.RS_CONNECT_N8N_WEBHOOK_TOKEN || '').trim();\nconst headerToken = String(headers['x-rs-connect-token'] || headers['X-RS-Connect-Token'] || '').trim();\nconst bearer = String(headers.authorization || headers.Authorization || '').replace(/^Bearer\\s+/i, '').trim();\nif (expectedWebhookToken && headerToken !== expectedWebhookToken && bearer !== expectedWebhookToken) {\n  throw new Error('Token do webhook n8n invalido.');\n}\n\nif (event === 'operations.backup.ping') {\n  return [{ json: { event, is_ping: true, routine_id: raw.routine_id || null } }];\n}\n\nconst backup = raw.backup || {};\nconst callback = raw.callback || {};\nconst storagePath = String(backup.storage_path || '/backups/rs-connect').trim();\nconst database = String(backup.database || 'rs_connect').trim();\nconst retentionDays = Math.max(1, Math.min(365, Number(backup.retention_days || 5)));\nconst scriptPath = String($env.RS_CONNECT_BACKUP_SCRIPT || '/etc/easypanel/projects/sites/rsconnect/code/scripts/rsconnect-backup.sh').trim();\nif (!/^\\/[A-Za-z0-9._\\/-]+$/.test(storagePath)) throw new Error('Caminho de backup invalido.');\nif (!/^[A-Za-z0-9_]+$/.test(database)) throw new Error('Nome do banco invalido.');\nif (!/^\\/[A-Za-z0-9._\\/-]+$/.test(scriptPath)) throw new Error('Caminho do script invalido.');\nconst quote = (value) => `'${String(value).replace(/'/g, `'\\\"'\\\"'`)}'`;\nconst sshCommand = `bash ${quote(scriptPath)} ${quote(storagePath)} ${retentionDays} ${quote(database)}`;\nreturn [{ json: {\n  ...raw,\n  event,\n  is_ping: false,\n  routine_id: Number(raw.routine_id || raw.backup_routine_id || 0),\n  backup_job_id: Number(raw.backup_job_id || 0),\n  execution_uuid: String(raw.execution_uuid || ''),\n  storage_type: String(backup.storage_type || 'server'),\n  storage_path: storagePath,\n  database,\n  retention_days: retentionDays,\n  ssh_command: sshCommand,\n  callback_url: String(callback.url || $env.RS_CONNECT_BACKUP_CALLBACK_URL || ''),\n  callback_token: String(callback.token || $env.RS_CONNECT_BACKUP_TOKEN || ''),\n  requested_at: raw.requested_at || new Date().toISOString()\n} }];"
      },
      "id": "normalize-backup-request",
      "name": "Validar e normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        40
      ],
      "notesInFlow": true,
      "notes": "Executa o script explicitamente com bash para não depender do bit executável do arquivo após deploy/extração."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, accepted: true, event: $json.event, message: $json.is_ping ? 'Conexao com n8n confirmada' : 'Solicitacao de backup aceita pelo n8n' } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "respond-accepted",
      "name": "Responder recebimento",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -340,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.is_ping) return [];\nif (!$json.backup_job_id || !$json.callback_url || !$json.callback_token) {\n  throw new Error('Job, callback URL e token sao obrigatorios.');\n}\nreturn items;"
      },
      "id": "ignore-ping",
      "name": "Continuar somente backup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        120
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.ssh_command }}"
      },
      "id": "execute-backup-script",
      "name": "Executar backup na VPS",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -80,
        120
      ],
      "onError": "continueRegularOutput",
      "notesInFlow": true,
      "notes": "Selecione a credencial SSH da VPS. O comando usa bash explicitamente, evitando Permission denied quando o deploy não preserva chmod +x."
    },
    {
      "parameters": {
        "jsCode": "const source = $('Continuar somente backup').first().json;\nconst stdout = String($json.stdout || '').trim();\nconst stderr = String($json.stderr || $json.error || '').trim();\nlet result = null;\nfor (const line of stdout.split(/\\r?\\n/).reverse()) {\n  if (!line.trim().startsWith('{')) continue;\n  try { result = JSON.parse(line.trim()); break; } catch (_) {}\n}\nif (!result) {\n  result = { status: 'error', verified: false, message: stderr || 'O script SSH nao retornou um resultado JSON valido.' };\n}\nconst success = result.status === 'success' && result.verified === true;\nconst callbackPayload = {\n  status: success ? 'success' : 'error',\n  backup_type: 'automatic',\n  storage_type: source.storage_type || 'server',\n  routine_id: source.routine_id,\n  backup_job_id: source.backup_job_id,\n  execution_uuid: source.execution_uuid,\n  file_name: result.file_name || null,\n  location: result.location || null,\n  size_bytes: Number(result.size_bytes || 0),\n  checksum: result.checksum || '',\n  verified: success,\n  table_count: Number(result.table_count || 0),\n  database: result.database || source.database,\n  started_at: result.started_at || source.requested_at,\n  finished_at: result.finished_at || new Date().toISOString(),\n  notes: success ? `Backup concluido e validado (${Number(result.table_count || 0)} tabelas).` : String(result.message || stderr || 'Falha ao gerar backup.')\n};\nreturn [{ json: { callback_url: source.callback_url, callback_token: source.callback_token, callback_payload: callbackPayload } }];"
      },
      "id": "build-callback",
      "name": "Montar callback final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RS-Connect-Token",
              "value": "={{ $json.callback_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.callback_payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "callback-rs-connect",
      "name": "Callback RS Connect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Montar callback final').first().json.callback_payload || {};\nif (String(payload.status || '') !== 'success') {\n  throw new Error(String(payload.notes || 'Backup terminou com erro. Consulte o callback registrado no RS Connect.'));\n}\nreturn items;"
      },
      "id": "validate-backup-final-result",
      "name": "Confirmar resultado do backup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        120
      ],
      "notesInFlow": true,
      "notes": "Mantém o callback no RS Connect e, se o backup falhar, também marca a execução do webhook como erro no n8n para facilitar o diagnóstico."
    }
  ],
  "connections": {
    "Verificar rotinas a cada 15 min": {
      "main": [
        [
          {
            "node": "Solicitar rotinas vencidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RS Connect": {
      "main": [
        [
          {
            "node": "Validar e normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar e normalizar": {
      "main": [
        [
          {
            "node": "Responder recebimento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Continuar somente backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar somente backup": {
      "main": [
        [
          {
            "node": "Executar backup na VPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar backup na VPS": {
      "main": [
        [
          {
            "node": "Montar callback final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar callback final": {
      "main": [
        [
          {
            "node": "Callback RS Connect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback RS Connect": {
      "main": [
        [
          {
            "node": "Confirmar resultado do backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "name": "RS Connect"
    },
    {
      "name": "Backup"
    }
  ],
  "versionId": "rs-connect-backup-v36-6-0"
}
